@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "../node_modules/flowbite-vue/dist/index.css";

@property --border-angle {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

@theme {
	--animate-rotate-border: border-rotate 3s linear infinite;

	@keyframes border-rotate {
		to {
			--border-angle: 360deg;
		}
	}
}

@layer components {
	/* ICONS DEFAULT SIZING */
	.icon-6 {
		@apply w-6 h-6;
	}
    .icon-5 {
		@apply w-5 h-5;
	}

	/* NAVIGATION: MAIN DIV */
	.profile-div {
		@apply animate-rotate-border cursor-pointer rounded-xl p-1 transition-all duration-500 ease-out hover:scale-105 hover:bg-conic/[from_var(--border-angle)];
	}
	.profile-div-not-active {
		@apply bg-transparent from-white/10 via-cyan-400/80 to-white/10 dark:from-blue-950/20 dark:via-cyan-500/60 dark:to-blue-950/20;
	}
	.profile-div-active {
		@apply bg-transparent from-white/10 via-cyan-400/80 to-white/10 dark:from-blue-950/20 dark:via-cyan-500/60 dark:to-blue-950/20;
	}

	/* NAVIGATION: MAIN BUTTON */
	.profile-button {
		@apply flex w-full items-center cursor-pointer rounded-xl backdrop-blur-md p-1.5 px-3 transition duration-75;
	}
	.profile-button-not-active {
		@apply bg-gray-200/10 group-hover:bg-gray-200/30 dark:bg-gray-500/2 dark:group-hover:bg-gray-900/20;
	}
	.profile-button-active {
		@apply bg-sky-500/50 group-hover:bg-sky-300/70 dark:bg-sky-200/50 dark:group-hover:bg-sky-300/70;
	}

	/* NAVIGATION: MAIN ICON */
	.profile-icon-span {
		@apply rounded-xl p-1.5 text-blue-500 transition duration-25 ease-in-out;
	}
	.profile-icon-span-not-active {
		@apply bg-gray-300 dark:bg-gray-800 group-hover:bg-blue-300 group-hover:text-blue-700 dark:text-blue-500 dark:group-hover:bg-gray-300/70 dark:group-hover:text-blue-500;
	}
	.profile-icon-span-active {
		@apply bg-blue-500 dark:bg-blue-600 text-blue-100 dark:text-blue-100;
	}

	/* NAVIGATION: MAIN TITLE */
	.profile-title-span {
		@apply ml-3 transition duration-25 ease-in-out
	}
	.profile-title-span-not-active {
		@apply text-gray-800 group-hover:text-gray-900 dark:text-white dark:group-hover:text-gray-100;
	}
	.profile-title-span-active {
		@apply font-semibold dark:font-bold text-gray-800 group-hover:text-gray-900 dark:text-white dark:group-hover:text-gray-100;
	}

	/* DASHBOARD CARD OUTSIDE COLORS */
	.dashboard-div-main-colors {
		@apply bg-sky-800/15 dark:bg-blue-500/10 
        hover:animate-rotate-border transition-all duration-500 ease-out bg-conic/[from_var(--border-angle)]  
        hover:from-blue-200/80 hover:via-blue-500/60 hover:to-blue-200/80 
        dark:hover:from-blue-900/20 dark:hover:via-blue-700 dark:hover:to-blue-900/20;
	}

	/* DASHBOARD CARD INSIDE COLORS */
	.dashboard-div-inside-colors {
		@apply backdrop-blur-lg text-black dark:text-white 
        bg-gradient-to-b dark:bg-radial-[at_15%_15%] 
        from-sky-400/40 to-sky-100/80
        dark:from-blue-700/60 dark:to-black/90 
        group-hover:from-sky-400/50 group-hover:to-sky-100/70
        dark:group-hover:from-blue-600/60 dark:group-hover:to-black/90;
	}

	/* DASHBOARD SHORTCUTS BUTTON */
	.dashboard-button-shortcut-colors {
		@apply text-cyan-950/95 dark:text-white bg-radial-[at_50%_50%] 
        from-sky-300 via-blue-500/50 to-indigo-600/40 to-90%  
        dark:from-indigo-950 dark:via-blue-800/90 dark:to-blue-500/60 dark:to-90% 
        hover:from-sky-400 hover:via-blue-500/80 hover:to-indigo-600/80
        dark:hover:from-indigo-800 dark:hover:via-blue-600/70 dark:hover:to-blue-500/90;
	}
	.dashboard-button-shortcut-format {
		@apply flex flex-row lg:flex-col items-center justify-center py-3 lg:px-6 lg:py-1 rounded-xl transition-all duration-200 shadow-md backdrop-blur-md hover:scale-105;
	}

	/* DEFAULT BUTTON STYLES */
	.button-default-green {
		@apply cursor-pointer text-cyan-950/95 dark:text-white bg-radial-[at_50%_50%] 
		border-sky-500/50 dark:border-blue-600/50
        from-sky-300 via-blue-500/50 to-indigo-600/40 to-90%  
        dark:from-indigo-950 dark:via-blue-800/90 dark:to-blue-500/60 dark:to-90% 
        hover:from-sky-400 hover:via-blue-500/80 hover:to-indigo-600/80
        dark:hover:from-indigo-800 dark:hover:via-blue-600/70 dark:hover:to-blue-500/90;
	}

	/* INVENTORY ITEMS CARDS */
	.item-layout {
		@apply cursor-pointer p-2 border rounded-lg hover:shadow-lg hover:scale-105 transition duration-300 ease-in-out dark:font-bold
	}

	.item-not-selected {
		@apply bg-sky-100 hover:bg-sky-400/50 border-slate-400
		dark:border-slate-600 dark:bg-slate-900 dark:text-gray-200 dark:hover:bg-slate-700
	}

	.item-selected {
		@apply  bg-radial-[at_50%_50%] border-white
		from-sky-500 via-blue-700/50 to-indigo-800/40 to-90% 
		dark:from-sky-300 dark:via-blue-500/50 dark:to-indigo-600/40 to-90%
	}
}
